@charset "utf-8";
/* CSS Document

fdbd1f - orange
ab6f80 - pink

Kaushan Script - typewrite
Raleway 500 and 900 - for the BIG TITLES
Pompiere - narrow fornt for descriptions

 */
 


/* select ALL tags and remove padding and margin 
INSTEAD OF: */
/* body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; } */

	*{
		margin: 0px;
		padding: 0px;
		list-style-type: none; /* // removes bullet points on all lists on the page */
	}

/* make sure that all browsers handle all the elemets as blocks */
header,nav,article,section,footer,aside{
	display: block;
}
 

/*************************************
GENERAL WEBSITE (default)
*************************************/

.container{
	width: 960px;
	margin: 0px auto;
	/* border: 2px solid black; */
	box-shadow:10px 40px 190px 15px #767070;
}

.clear{
	clear: both; /* // to not wrap text around an image (in this case around the logo) */
}

body{
	background-color: #ffffff;
}


/*************************
FONT
*************************/

h1 {
	font-family: 'Raleway', Calibri;
	font-size: 20px;
}

p{
	font-family: 'Pompiere', Calibri;
}


/*************************************
LOGO & NAVIGATION
*************************************/

.top_nav{
	width: 100%;
	height: 72px;
	line-height: 72px; /* CENTER the menu */
	float: left;
	background-color: #ffffff;
}

.top_nav ul{
	float: right;
	padding: 0px;
	margin: 0px;
}

.top_nav ul li{
	float: left;
	padding: 0px 0px;
	padding-left: 4px;
	font-size: 15px;
	font-weight: bolder;
}

.top_nav ul a{
	margin-right: 0;
	padding: 0 10px; /* VERTICAL /center/ positioning of the text of the menu buttons */
}


.top_nav ul a:hover{
	background-color:#00b386;
	color: #fff;
	height: 72px;
}

hr{
	display: block; 
    border: 0;
    border-top: 5px solid #00b386;
	background-color: #00b386;
}
	
.mainpage hr{
	display: block; 
    border: 0;
    border-top: 2px solid #00b386;
	background-color: #00b386;
}


nav ul a{
	text-decoration: none;	/* removes the underline of the link */
	list-style-type: none;	/* removes the bullets */	
	margin: auto;
	text-align: center;
	font-family: 'Raleway', Calibri;
	margin-right: 10px;		/* puts spacing of 10px between the links */	
	color: #ab6f80;
	display: block;
}
	
	
body{
	max-width: 100%;
}


/* ------------------ MAIN PAGE SECTION ------------  */

.content{
	background: url(wall.jpg);
	background-repeat: no-repeat;
    background-size: 960px 550px;
	height: 540px; /* background image height */
	/* Move the rounded (content) box up or down the page */
	padding-top: 10px; /* moves the form field in the middle!!! PUT IN THE PARENT DIV, NOT IN THE ONE WE WANT TO MOVE */
}

.mainpage{
	border: 2px solid #2db300;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	margin: 0px auto;
	background-color: #ffffff;
	padding: 30px;
	width: 320px; /* rounded box width */
	height: 450px; /* rounded box height */
	box-shadow: inset 3px 2px 8px #000000;
}
	
.mainpage p{
	font-family: 'Raleway', Calibri;
}

.form p{
	font-family: 'Raleway', Calibri;
	font-weight: bold;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}

input{
	width: 100%;
	padding: 3px;
	margin: 3px;
	border-radius: 5px;
	border: 1px solid #00b386;
}

#submit{
	background-color: #00b386;
	font-family: 'Raleway', Calibri;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	padding:5px 15px;
	width: 100%;
}